<% include /componets/header.ejs %>
    <div class="container article-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="ui two stackable cards">
                    <% _.each(articles, function(article) { %>
                    <div class="card article">
                        <div class="image text-center">
                            <img class="cover" src="http://localhost:3010/article/uploads/<%- article.coverImage %>" />
                        </div>
                        <div class="content">
                            <!--<div class="status" ng-class="projectInfo.status" title="{{projectInfo.status}}"></div>-->
                            <a href="<%- IP %>/article/<%- article._id + '/' + slugify(article.title) %>" class="header"><%- article.title %></a>

                            <div class="meta">
                                Started on
                                <span class="date"><%- moment.utc(article.dateCreated).format("Do MMM YYYY"); %></span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a href="<%- IP %>/article/<%- article._id + '/' + slugify(article.title) %>">
                                Read more
                            </a>
                            <span class="pull-right">
                                <i class="eye icon"></i>
                                <%- article.views %> Views
                            </span>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
<% include /componets/footer.ejs %>
