<% include /componets/header.ejs %>
    <div class="container article-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="ui two stackable cards">
                    <% _.each(projects, function(project) { %>
                    <div class="card">
                        <a href="<%- IP %>/project/<%- project._id + '/' + slugify(project.name) %>"  ng-bind="projectInfo.name" >
                            <div <%- 'class="image text-center ' + project.background + '"'  %>>
                                <h1 class="card-title cms-white">
                                    <%- frameworkDisplay(project.framework, true) %><span class="bold"><%- frameworkDisplay(project.framework) %></span>
                                </h1>
                            </div>
                        </a>
                        <div class="content">
                            <a href="<%- IP %>/project/<%- project._id + '/' + slugify(project.name) %>" class="header" ng-bind="projectInfo.name" ><%- project.name%></a>
                            <p class="description"><%- project.description %></p>
                            <div class="meta">
                                Started on
                                <span class="date"><%- moment.utc(project.dateCreated).format("Do MMM YYYY"); %></span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a href="<%- IP %>/project/<%- project._id + '/' + slugify(project.name) %>"  ng-bind="projectInfo.name" >
                                <i class="code icon"></i><span>See more</span>
                            </a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
<% include /componets/footer.ejs %>
